extends layout

block content
  .container
    form.form-authorize(method='post', action='/oauth/authorize', role='form')
        .form-group
            label Email
            input(type="text", name="email", required="true", placeholder="email")
        .form-group
            label Password
            input(type="password", name="password", required="true", placeholder="password")
        .form-group
            p #{app_name} is requesting your identity
        .form-group
            input(type='hidden', name='allow', value='yes')
            input(type='hidden', name='client_id', value='#{client_id}')
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Authorize